In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Для работы с матрицами
from scipy.sparse import csr_matrix, coo_matrix

# Детерминированные алгоритмы
from implicit.nearest_neighbours import ItemItemRecommender, CosineRecommender, TFIDFRecommender, BM25Recommender

# Метрики
from implicit.evaluation import train_test_split
from implicit.evaluation import precision_at_k, mean_average_precision_at_k, AUC_at_k, ndcg_at_k

In [2]:
# conda install -c conda-forge implicit

In [3]:
data = pd.read_csv('retail_train.csv')
data.head(20)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0
5,2375,26984851516,1,826249,2,1.98,364,-0.60,1642,1,0.0,0.0
6,2375,26984851516,1,1043142,1,1.57,364,-0.68,1642,1,0.0,0.0
7,2375,26984851516,1,1085983,1,2.99,364,-0.40,1642,1,0.0,0.0
8,2375,26984851516,1,1102651,1,1.89,364,0.00,1642,1,0.0,0.0
9,2375,26984851516,1,6423775,1,2.00,364,-0.79,1642,1,0.0,0.0
10,2375,26984851516,1,9487839,1,2.00,364,-0.79,1642,1,0.0,0.0
11,1364,26984896261,1,842930,1,2.19,31742,0.00,1520,1,0.0,0.0
12,1364,26984896261,1,897044,1,2.99,31742,-0.40,1520,1,0.0,0.0
13,1364,26984896261,1,920955,1,3.09,31742,0.00,1520,1,0.0,0.0
14,1364,26984896261,1,937406,1,2.50,31742,-0.99,1520,1,0.0,0.0
15,1364,26984896261,1,981760,1,0.60,31742,-0.79,1520,1,0.0,0.0
16,1130,26984905972,1,833715,2,0.34,31642,-0.32,1340,1,0.0,0.0
17,1130,26984905972,1,866950,2,0.34,31642,-0.32,1340,1,0.0,0.0
18,1130,26984905972,1,1022843,2,0.34,31642,-0.32,1340,1,0.0,0.0
19,1130,26984905972,1,1048462,1,1.19,31642,-0.80,1340,1,0.0,0.0

In [4]:
data.groupby('item_id')['sales_value'].sum().reset_index()

        item_id  sales_value
0         25671        20.94
1         26081         0.99
2         26093         1.59
3         26190         1.54
4         26355         1.98
...         ...          ...
89046  17991689         2.49
89047  17991691         2.49
89048  18000012        19.96
89049  18024155         3.99
89050  18024556        30.51

[89051 rows x 2 columns]

In [5]:
test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

### Задание 1. Weighted Random Recommendation

Напишите код для случайных рекоммендаций, в которых вероятность рекомендовать товар прямо пропорциональна логарифму продаж
- Можно сэмплировать товары случайно, но пропорционально какому-либо весу
- Например, прямопропорционально популярности. Вес = log(sales_sum товара)

In [6]:
import random

def weighted_random_recommendation(items_weights, n=5):
    """Случайные рекоммендации
    
    Input
    -----
    items_weights: pd.DataFrame
        Датафрейм со столбцами item_id, weight. Сумма weight по всем товарам = 1
    """
    
    # Подсказка: необходимо модифицировать функцию random_recommendation()
    # your_code
    recs = random.choices(items_weights['item_id'], items_weights['weight'],  k=n)
    
    return recs

In [7]:
from sklearn.preprocessing import MinMaxScaler

In [8]:
result = pd.read_pickle('predictions_basic.pkl')

In [9]:
%%time

# your_code

items_weights = data_train.groupby('item_id')['sales_value'].sum().reset_index()
items_weights.sort_values('item_id', ascending=True, inplace=True)
scaler = MinMaxScaler()
scaler.fit_transform(items_weights[['sales_value']])
items_weights.rename(columns={'sales_value': 'weight'}, inplace=True)

result['weighted_random_recommendation'] = result['user_id'].apply(lambda x: weighted_random_recommendation(items_weights, n=5))

result.head(2)

Wall time: 20.6 s

,user_id,actual,random_recommendation,popular_recommendation,itemitem,cosine,tfidf,own_purchases,weighted_random_recommendation
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[1086784, 2011051, 7156967, 947532, 1608263]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]","[1082185, 981760, 1127831, 999999, 1098066]","[1082185, 1029743, 995785, 1004906, 1081177]","[12301109, 1058243, 930283, 913278, 1012873]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[1836352, 1071899, 1107239, 943233, 919297]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1098066, 995242]","[1082185, 1098066, 981760, 999999, 826249]","[1082185, 981760, 1098066, 826249, 999999]","[1082185, 1098066, 6534178, 1127831, 1068719]","[5569074, 962185, 8203782, 950894, 9420142]"

### Задание 2. Расчет метрик
Рассчитайте Precision@5 для каждого алгоритма с помощью функции из вебинара 1. Какой алгоритм показывает лучшее качество?

In [10]:
# result = pd.read_csv('predictions_basic.csv')
# result.head(2)

In [11]:
# your_code
def precision_at_k(recommended_list, bought_list, k=5):
    bought_list = np.array(bought_list)
    recommended_list = np.array(recommended_list)
    bought_list = bought_list  # Тут нет [:k] !!
    recommended_list = recommended_list[:k]
    flags = np.isin(bought_list, recommended_list)
    precision = flags.sum() / len(recommended_list)
    return precision

In [12]:
for name_col in result.columns[1:]:
    print(f"{round(result.apply(lambda row: precision_at_k(row[name_col], row['actual']), axis=1).mean(),4)}:{name_col}")

1.0:actual
0.001:random_recommendation
0.1552:popular_recommendation
0.1369:itemitem
0.1329:cosine
0.139:tfidf
0.2019:own_purchases

C:\Users\odind\AppData\Local\Temp/ipykernel_4080/587789494.py:8: RuntimeWarning: invalid value encountered in long_scalars
  precision = flags.sum() / len(recommended_list)

0.0245:weighted_random_recommendation

Видим, что взвешенная случайная рекомендация дает значительно лучший результат относительно просто случайной рекомендации

### Задание 3*. Улучшение бейзлайнов и ItemItem

- Попробуйте улучшить бейзлайны, считая их на топ-5000 товаров
- Попробуйте улучшить разные варианты ItemItemRecommender, выбирая число соседей $K$.

In [13]:
# your_code

не успел